<!DOCTYPE html>
<html lang="nl">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" type="text\css" href="public\css\bestel_pagina.css">
  <title>Pizza Gusto</title>
</head>
<body>
  <header>
    Pizza Gusto
  </header>

  <main>
    <h2>Onze Menu</h2>
    <div class="menu">
      <% menu.forEach(function(item){ %>
        <div class="card">
          <div class="placeholder">Geen foto</div>
          <p><%= item.naam %></p>
          <form action="/bestel" method="POST">
            <input type="hidden" name="pizza" value="<%= item.naam %>">
            <button type="submit">Bestel nu</button>
          </form>
        </div>
      <% }); %>
    </div>
  </main>

 
  <aside>
    <h2>Uw Bestelling</h2>
    <ul class="order-list">
        <% bestellingen.forEach(function(b, i){ %>
          <li>
            <span><%= b %></span>
            <form action="/bestel/verwijder" method="POST" style="display:inline;">
              <input type="hidden" name="index" value="<%= i %>">
              <button type="submit" class="remove-button" aria-label="Verwijder bestelling">Verwijder</button>
            </form>
          </li>
        <% }); %>
    </ul>
  </aside>

</body>
</html>
